In [35]:
import warnings
warnings.filterwarnings('ignore')

In [39]:
# imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
from talib import RSI
from datetime import datetime as dt 
idx = pd.IndexSlice

In [26]:
raw = pd.read_csv('http://hilpisch.com/pyalgo_eikon_eod_data.csv',
                   parse_dates=True).dropna()
raw.head()

,Date,AAPL.O,MSFT.O,INTC.O,AMZN.O,GS.N,SPY,.SPX,.VIX,EUR=,XAU=,GDX,GLD
1,2010-01-04,30.572827,30.950,20.88,133.90,173.08,113.33,1132.99,20.04,1.4411,1120.00,47.71,109.80
2,2010-01-05,30.625684,30.960,20.87,134.69,176.14,113.63,1136.52,19.35,1.4368,1118.65,48.17,109.70
3,2010-01-06,30.138541,30.770,20.80,132.25,174.26,113.71,1137.14,19.16,1.4412,1138.50,49.34,111.51
4,2010-01-07,30.082827,30.452,20.60,130.00,177.67,114.19,1141.69,19.06,1.4318,1131.90,49.10,110.82
5,2010-01-08,30.282827,30.660,20.83,133.52,174.31,114.57,1144.98,18.13,1.4412,1136.10,49.84,111.37

In [60]:
prices = pd.melt(raw,  id_vars = ['Date'], value_vars = raw.columns,
                   var_name = 'Ticker', 
                   value_name = 'Close') 
prices.set_index(['Ticker', 'Date'], inplace=True) 
prices.sort_index(level = ['Ticker', 'Date'], inplace=True)
prices.head()

                     Close
Ticker Date
.SPX   2010-01-04  1132.99
       2010-01-05  1136.52
       2010-01-06  1137.14
       2010-01-07  1141.69
       2010-01-08  1144.98

In [66]:
start = '2012-01-01'
end = '2013-12-31'
prices = prices.loc[idx[:, start:end], :]
prices.head()

                     Close
Ticker Date
.SPX   2012-01-03  1277.06
       2012-01-04  1277.30
       2012-01-05  1281.06
       2012-01-06  1277.81
       2012-01-09  1280.70

In [67]:
rolling_1m = prices.Close.groupby('Ticker').rolling(window=21).mean().values
prices['rolling_1m'] = rolling_1m

In [68]:
rolling_rank = prices.rolling_1m.groupby('Ticker').rank(ascending=False).values
prices['rolling_rank'] = rolling_rank

In [69]:
prices['rsi'] = prices.Close.groupby(level='Ticker').apply(RSI)
prices.head(30)

                     Close   rolling_1m  rolling_rank        rsi
Ticker Date
.SPX   2012-01-03  1277.06          NaN           NaN        NaN
       2012-01-04  1277.30          NaN           NaN        NaN
       2012-01-05  1281.06          NaN           NaN        NaN
       2012-01-06  1277.81          NaN           NaN        NaN
       2012-01-09  1280.70          NaN           NaN        NaN
       2012-01-10  1292.08          NaN           NaN        NaN
       2012-01-11  1292.48          NaN           NaN        NaN
       2012-01-12  1295.50          NaN           NaN        NaN
       2012-01-13  1289.09          NaN           NaN        NaN
       2012-01-17  1293.67          NaN           NaN        NaN
       2012-01-18  1308.04          NaN           NaN        NaN
       2012-01-19  1314.50          NaN           NaN        NaN
       2012-01-20  1315.38          NaN           NaN        NaN
       2012-01-23  1316.00          NaN           NaN        NaN
       2012-01-24  1314.65          NaN           NaN  81.529945
       2012-01-25  1326.05          NaN           NaN  84.684280
       2012-01-26  1318.43          NaN           NaN  75.413362
       2012-01-27  1316.33          NaN           NaN  73.040181
       2012-01-30  1313.01          NaN           NaN  69.325846
       2012-01-31  1312.41          NaN           NaN  68.646431
       2012-02-01  1324.09  1301.697143         482.0  73.990256
       2012-02-02  1325.54  1304.005714         481.0  74.569720
       2012-02-03  1344.90  1307.224762         480.0  80.739609
       2012-02-06  1344.33  1310.237619         479.0  80.123243
       2012-02-07  1347.05  1313.534762         474.0  80.873593
       2012-02-08  1349.96  1316.832857         470.0  81.670800
       2012-02-09  1351.95  1319.683810         466.0  82.216678
       2012-02-10  1342.64  1322.072381         458.0  71.489716
       2012-02-13  1351.77  1324.751905         455.0  74.942437
       2012-02-14  1350.50  1327.676190         452.0  73.607081